<!DOCTYPE html>
{% extends "_base.html" %}
{% load static %}
{% load leaderboard_extras %}
<html>
<head>

</head>
<body class="stats-view">
    <header>

    </header>

    <main>
        {% block content %}
        <div class = "header">
            <h2 class="main_header">Stats</h2>
            <h2 class="main_header_name">{{ player.name }}</h2>
        </div>

        <div class="day_stat">
            <h3>Monday</h3>
            <div class="stat_block">
                <div class="stat">
                    <div class="stat_heading">
                        Best Time
                    </div>
                    <div class="stat_value">
                        {{ best_time.0 }}
                    </div>
                    <div class="stat_percent">
                        {{ best_percent.0 }}
                    </div>
                </div>

                <div class="stat">
                    <div class="stat_heading">
                        Worst Time
                    </div>
                    <div class="stat_value">
                        {{ worst_time.0 }}
                    </div>
                    <div class="stat_percent">
                        {{ worst_percent.0 }}
                    </div>
                </div>

                <div class="stat">
                    <div class="stat_heading">
                        Average Time
                    </div>
                    <div class="stat_value">
                        {{ average_time.0 }}
                    </div>
                    <div class="stat_percent">
                        {{ average_percent.0 }}
                    </div>
                </div>
            </div>
        </div>

        <div class="day_stat">
            <h3>Tuesday</h3>
            <div class="stat_block">
                <div class="stat">
                    <div class="stat_heading">
                        Best Time
                    </div>
                    <div class="stat_value">
                        {{ best_time.1 }}
                    </div>
                    <div class="stat_percent">
                        {{ best_percent.1 }}
                    </div>
                </div>

                <div class="stat">
                    <div class="stat_heading">
                        Worst Time
                    </div>
                    <div class="stat_value">
                        {{ worst_time.1 }}
                    </div>
                    <div class="stat_percent">
                        {{ worst_percent.1 }}
                    </div>
                </div>

                <div class="stat">
                    <div class="stat_heading">
                        Average Time
                    </div>
                    <div class="stat_value">
                        {{ average_time.1 }}
                    </div>
                    <div class="stat_percent">
                        {{ average_percent.1 }}
                    </div>
                </div>
            </div>
        </div>

        <div class="day_stat">
            <h3>Wednesday</h3>
            <div class="stat_block">
                <div class="stat">
                    <div class="stat_heading">
                        Best Time
                    </div>
                    <div class="stat_value">
                        {{ best_time.2 }}
                    </div>
                    <div class="stat_percent">
                        {{ best_percent.2 }}
                    </div>
                </div>

                <div class="stat">
                    <div class="stat_heading">
                        Worst Time
                    </div>
                    <div class="stat_value">
                        {{ worst_time.2 }}
                    </div>
                    <div class="stat_percent">
                        {{ worst_percent.2 }}
                    </div>
                </div>

                <div class="stat">
                    <div class="stat_heading">
                        Average Time
                    </div>
                    <div class="stat_value">
                        {{ average_time.2 }}
                    </div>
                    <div class="stat_percent">
                        {{ average_percent.2 }}
                    </div>
                </div>
            </div>
        </div>

        <div class="day_stat">
            <h3>Thursday</h3>
            <div class="stat_block">
                <div class="stat">
                    <div class="stat_heading">
                        Best Time
                    </div>
                    <div class="stat_value">
                        {{ best_time.3 }}
                    </div>
                    <div class="stat_percent">
                        {{ best_percent.3 }}
                    </div>
                </div>

                <div class="stat">
                    <div class="stat_heading">
                        Worst Time
                    </div>
                    <div class="stat_value">
                        {{ worst_time.3 }}
                    </div>
                    <div class="stat_percent">
                        {{ worst_percent.3 }}
                    </div>
                </div>

                <div class="stat">
                    <div class="stat_heading">
                        Average Time
                    </div>
                    <div class="stat_value">
                        {{ average_time.3 }}
                    </div>
                    <div class="stat_percent">
                        {{ average_percent.3 }}
                    </div>
                </div>
            </div>
        </div>

        <div class="day_stat">
            <h3>Friday</h3>
            <div class="stat_block">
                <div class="stat">
                    <div class="stat_heading">
                        Best Time
                    </div>
                    <div class="stat_value">
                        {{ best_time.4 }}
                    </div>
                    <div class="stat_percent">
                        {{ best_percent.4 }}
                    </div>
                </div>

                <div class="stat">
                    <div class="stat_heading">
                        Worst Time
                    </div>
                    <div class="stat_value">
                        {{ worst_time.4 }}
                    </div>
                    <div class="stat_percent">
                        {{ worst_percent.4 }}
                    </div>
                </div>

                <div class="stat">
                    <div class="stat_heading">
                        Average Time
                    </div>
                    <div class="stat_value">
                        {{ average_time.4 }}
                    </div>
                    <div class="stat_percent">
                        {{ average_percent.4 }}
                    </div>
                </div>
            </div>
        </div>

        <div class="day_stat">
            <h3>Saturday</h3>
            <div class="stat_block">
                <div class="stat">
                    <div class="stat_heading">
                        Best Time
                    </div>
                    <div class="stat_value">
                        {{ best_time.5 }}
                    </div>
                    <div class="stat_percent">
                        {{ best_percent.5 }}
                    </div>
                </div>

                <div class="stat">
                    <div class="stat_heading">
                        Worst Time
                    </div>
                    <div class="stat_value">
                        {{ worst_time.5 }}
                    </div>
                    <div class="stat_percent">
                        {{ worst_percent.5 }}
                    </div>
                </div>

                <div class="stat">
                    <div class="stat_heading">
                        Average Time
                    </div>
                    <div class="stat_value">
                        {{ average_time.5 }}
                    </div>
                    <div class="stat_percent">
                        {{ average_percent.5 }}
                    </div>
                </div>
            </div>
        </div>

        <div class="day_stat">
            <h3>Sunday</h3>
            <div class="stat_block">
                <div class="stat">
                    <div class="stat_heading">
                        Best Time
                    </div>
                    <div class="stat_value">
                        {{ best_time.6 }}
                    </div>
                    <div class="stat_percent">
                        {{ best_percent.6 }}
                    </div>
                </div>

                <div class="stat">
                    <div class="stat_heading">
                        Worst Time
                    </div>
                    <div class="stat_value">
                        {{ worst_time.6 }}
                    </div>
                    <div class="stat_percent">
                        {{ worst_percent.6 }}
                    </div>
                </div>

                <div class="stat">
                    <div class="stat_heading">
                        Average Time
                    </div>
                    <div class="stat_value">
                        {{ average_time.6 }}
                    </div>
                    <div class="stat_percent">
                        {{ average_percent.6 }}
                    </div>
                </div>
            </div>
        </div>

        {% endblock %}
    </main>
</body>
</html>